<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="addPro()" novalidate>
    <div class="example-container">

        <mat-form-field appearance="fill">
            <mat-label>Nombre Producto</mat-label>
            <input formControlName="nomPro" matInput #input placeholder="Laptop">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
                <mat-option value="{{categoria.id_catProducto}}" *ngFor="let categoria of categorias">{{categoria.nomCategoria}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>



    <button type="button" mat-raised-button (click)="fileInput.click()">Seleccionar imagen</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

    <div class="example-container">

        <mat-form-field appearance="fill">
            <mat-label>Cantidad en el almacen</mat-label>
            <input formControlName="cantidad" matInput #input placeholder="100" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Precio Producto</mat-label>
            <input formControlName="precio" matInput #input placeholder="20000" type="number">
        </mat-form-field>

        
    </div>
    <div class="example-container"> 
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descripcion Porducto</mat-label>
            <textarea formControlName="descripcion" matInput placeholder="El producto cuenta con..."></textarea>
        </mat-form-field>
        
    </div>
    <button class="enviar" mat-raised-button color="primary" type="submit">Agregar</button>
    <button mat-raised-button color="warn" routerLink="/productos">Cancelar</button>
    </form>
</div>