<!-- register.component.html -->

<div class="register">
    <form class="custom-form" method="post">
        <h1>Register</h1>
        <input type="text" name="text" placeholder="Nombre" required="required" />
        <input type="text" name="text" placeholder="Apellidos" required="required" />
        <input type="email" name="email" placeholder="Correo" required="required" />
        <input type="password" name="password" placeholder="Contraseña" required="required" />
        <input type="password" name="password" placeholder="Repita la contraseña" required="required" />
        <button type="submit">Register</button>
    </form>
</div>