<mat-card>
    <mat-card>
        <mat-card-title>
            <label> <b>Venta de:</b> {{venta.nomProducto}}</label>
        </mat-card-title>
        <mat-card-content>
            <label> <b>Comprador:</b> {{venta.nombre}} </label>
            <br>
            <label> <b>Cantidad:</b> {{venta.canVenta}} </label>
            <br>
            <label> <b>Total:</b> ${{venta.totalVenta}} </label>
        </mat-card-content>
        <button mat-raised-button color="warn" routerLink="/ventas">Regresar</button>
    </mat-card>
</mat-card>